.elementor-120 .elementor-element.elementor-element-5fa411c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:20px;--padding-bottom:15px;--padding-left:50px;--padding-right:50px;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );text-transform:var( --e-global-typography-text-text-transform );}.elementor-120 .elementor-element.elementor-element-c444f20 img{width:350px;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(min-width:1920px){.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-120 .elementor-element.elementor-element-c444f20 img{width:400px;}}@media(max-width:1366px){.elementor-120 .elementor-element.elementor-element-5fa411c{--padding-top:20px;--padding-bottom:15px;--padding-left:30px;--padding-right:30px;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-120 .elementor-element.elementor-element-c444f20 img{width:300px;}}@media(max-width:1200px){.elementor-120 .elementor-element.elementor-element-5fa411c{--padding-top:10px;--padding-bottom:10px;--padding-left:20px;--padding-right:20px;}.elementor-120 .elementor-element.elementor-element-c444f20 img{width:220px;}}@media(max-width:1024px){.elementor-120 .elementor-element.elementor-element-5fa411c{--padding-top:10px;--padding-bottom:10px;--padding-left:15px;--padding-right:15px;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-120 .elementor-element.elementor-element-c444f20 img{max-width:80%;}}@media(max-width:880px){.elementor-120 .elementor-element.elementor-element-c444f20 img{width:210px;max-width:100%;}}@media(max-width:767px){.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );}.elementor-120 .elementor-element.elementor-element-c444f20 img{width:160px;}}/* Start custom CSS *//* Logótipos: estado inicial */
.main-logo {
    display: block;
    transition: opacity 0.3s ease;
}

.scroll-logo {
    display: none;
    transition: opacity 0.3s ease;
}

/* Estado com scroll */
.header-scrolled .main-logo {
    display: none;
}

.header-scrolled .scroll-logo {
    display: block;
    margin-top: -25px;
    margin-bottom: -5px;
}

.mega-menu {
  top: calc(100% - 5px); /* aproxima o menu do topo */
}/* End custom CSS */